@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --color-primary: #60BC9B;
  --color-primary-hover: #9cd5c5;
  --color-primary-disabled: #a8d8c2;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-button: var(--color-primary);
  --color-button-hover: var(--color-primary-hover);
  --color-button-disabled: var(--color-primary-disabled);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@keyframes stepRotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


body {
  /* font-family: "Saira Condensed", sans-serif; */
}

p {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #333333;
}

a.green-nav {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.625;
  color: #60BC9B;
}

a.green-link {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #60BC9B;
}

a.green-link:hover {
  text-decoration: underline;
}

a.blue-link {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #60A1BC;
}

button.small {
    font-size: 12px;
}

p.small {
  font-size: 12px;
}

p.font-semibold {
  font-weight: 600;
}

p.text-medium {
  font-weight: 500;
}

p.font-light {
  font-weight: 300;
}

p.text-white {
  color: #ffffff;
}

p.text-grey {
  color: #7e7d7d;
}

li.text-grey {
  color: #7e7d7d;
}

button.text-grey {
  color: #7e7d7d;
}


h1, h2, h3 {
  font-family: var(--font-saira), sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  color: #333333;
}

h1.text-white, h2.text-white, h3.text-white {
  font-family: var(--font-saira), sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  color: #ffffff;
}

h3.giant {
  font-family: var(--font-saira), sans-serif;
  font-weight: 600;
  font-size: 98px;
  line-height: 1;
  color: #333333;
}

h4 {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #333333;
}

h4.text-white {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
}

h4.large {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #333333;
}

.swiper-pagination-bullet-active {
  background-color: #60BC9B !important; /* Tailwind blue-700 */
}

.swiper-button-next,
.swiper-button-prev {
  color: #60BC9B !important;
}

.always-scroll {
  overflow-x: scroll;          /* forces scrollbar */
  scrollbar-gutter: stable both-edges;
}


h1.activatepage {
  font-family: var(--font-saira), sans-serif;
  font-weight: 600;
  font-size: 85px;
  line-height: 1;
  color: #ffffff;
}


.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}